{% extends "bootstrap/base.html" %}
{% block content %}
<head>
	<!-- <title>SpaCify</title> -->
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/custom.css')}}">
</head>
<body>
{% block navbar %}
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <h1 class="nav-link bg-white"  href="#">Text Eyes</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
       <li class="nav-item active">
            <a class="nav-link" href="{{url_for('about')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">Text NLP</a>
           </li>
           <!--<li class="nav-item">
            <a class="nav-link" href="{{url_for('whatsapp')}}">Whatsapp NLP</a>
          </li>-->
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{{url_for('summary')}}">Text Summary</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{{url_for('basic_api')}}">API</a>
          </li>
        </ul>
        
      </div>
    </nav>

    {% endblock %}
    <br/>
    <br/>
     <br/>
    <br/>
    <div class="container">
      <div class="jumbotron">
        <h3>Text Eyes</h3>
        <p class="lead">Summarise Text</p>
        <img class="rounded-circle" src="https://huggingface.co/favicon.ico" alt="Generic placeholder image" width="100" height="100">
      </div>
    </div>

      <!-- Analysis Begins Here -->
   <div class="container">
    <h1>Summarise a Paper or an Article</h1>
    <div class = 'row row-lg'>
        <div class='col col-lg-6'>
            <h4 class='lead'>Copy and Paste the text to summarise</h4>
        </div>
        <div class='col col-lg-10'>
            <form action="{{url_for('api_summarize')}}" method="POST">
                <div class="form-group form-group-lg">
                    <textarea id="text" class="form-control input-large" name="text" placeholder="Insert text here"></textarea>
                </div>
                <button class="btn btn-outline-success " type="reset">Clear</button>
                <button class="btn btn-secondary" type="submit">Get Summary</button>
            </form>
        </div>
    </div>
</div>


<br/>
<br/>


 
</body>
{% endblock %}

{% block styles %}
{{super()}} <!-- Allows Javascripts and other styles to be inclusive in bootstrap -->
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}